<div class="main-component-nav">
  <div class="main-component-elements">
      <div>
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRIOWvsP22Cfcw44p4pbTZBqOWld1GIPJ8Rzg&usqp=CAU"
            class="logo"
          />
        </div>
        <div class="college-name-element">
          <h1  class="college-name">Maritime Situational Awarness</h1>
        </div>
  </div>
  <img src="https://cdn1.iconfinder.com/data/icons/user-pics/512/user_logout-512.png" alt="logout" class="img-element" (click)="logout()" routerLink="/login">
</div>

<router-outlet></router-outlet>